footer {
    padding: 0 1em;
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: #f4586b;
    }
}