.page-landing {
    h1 {
        font-size: 1.6em;
        text-align: center;
        
        .asterisk {
            color: grey;
            font-size: 0.75em;
            vertical-align: top;
        }
    }
}